[user]
	name = Aurelien Arino
	email = aurelien@arino.io
[gpg]
	program = gpg
[web]
	browser = arc
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	ignorecase = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[credential]
	helper = cache --timeout=900
[difftool]
	prompt = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[alias]
	st = status
	ci = commit
	cim = commit -m
	cam = commit --amend
	cams = commit --amend --no-verify
	came = commit --amend --no-edit
	cames = commit --amend --no-edit --no-verify
	sth=stash
	sthp=stash pop
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	ds = diff --staged
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
	wa = worktree add
	wr = worktree remove
	wrf = worktree remove -f
	wl = worktree list
	staash = stash --all
	next = stack next
	prev = stack previous
	reword = stack reword
	amend = stack amend
	sync = stack sync
	run = stack run
[commit]
	gpgsign = true
[pull]
	rebase = true
[rebase]
	updateRefs = true
[push]
	autoSetupRemote = true
[url "ssh://git@github.com:"]
	insteadOf = https://github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[maintenance]
	repo = /Users/arinono/workspace/wtg/platform.git/main
[rerere]
	enabled = true
[init]
	defaultBranch = main
