{...}: {
  licenses = {
    istatmenus.version7 = "";

    shottr = "";

    soundsource = {
      version5 = {
        name = "";
        code = "";
      };
    };
  };

  npm.rc = ''
    //npm.pkg.github.com/:_authToken=
    //registry.npmjs.org/:_authToken=
  '';

  ssh.config = ''
    Host aatrox
      User arinono
      Hostname aatrox
  '';

  wtg.variables = {
  };
}
