{params, ...}: {
  ssh = {
    # This is for storing the actual key content
    ed25519 = {
      privateKey = ''
        -----END OPENSSH PRIVATE KEY-----
      '';

      publicKey = ''
        ssh-ed25519 xxxxxx ${params.hostname}
      '';
    };

    config = ''
      Host aatrox
        User arinono
        Hostname aatrox
    '';
  };
}
